.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#97cadb;
    color: #fff;
}
.header_dark{
    background-color: #001b48;
}
.rightContainer {
    display: flex;
    align-items: center;
}

.rightContainer > * {
    margin-left: 20px;
}
