.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarContainer {
    margin-bottom: 20px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsContainer {
    text-align: left;
    width: 100%;
}

.detailsContainer p {
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}

.detailsContainer p strong {
    font-weight: bold;
    color: #000;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
